<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785432683595-tiuu34t8h1lq1b2476d6htd8iap78fn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785432683595-tiuu34t8h1lq1b2476d6htd8iap78fn8</string>
	<key>API_KEY</key>
	<string>AIzaSyCCPAOSDeHm9A7w6RotxwVPmjrPwaY79Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>785432683595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dailyGrind</string>
	<key>PROJECT_ID</key>
	<string>daily-grind-3426d</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-grind-3426d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785432683595:ios:cd372b05d22b24b48a99ce</string>
</dict>
</plist>